{
    "swagger": "2.0",
    "info": {
        "title": "Cars",
        "description": "Cars Resource of the University API Tutorial",
        "termsOfService": "The terms of service for the University API Tutorial",
        "contact": {
            "name": "Matthew Hailstone",
            "url": "http://matthewhailstone.com",
            "email": "matthew_hailstone@byu.edu"
        },
        "license": {
            "name": "License name",
            "url": "https://raw.githubusercontent.com/byu-oit-appdev/cars-tutorial/master/LICENSE"
        },
        "version": "v1"
    },
    "host": "api.byu.edu",
    "schemes": [
        "https"
    ],
    "basePath": "/domains/tutorial/cars",
    "produces": [
        "application/json"
    ],
    "consumes": [
        "application/json"
    ],
    "parameters": {
        "alwaysUsedParameter": {
            "name": "always",
            "in": "query",
            "description": "You can reference this parameter definition from inside any path parameter definition",
            "required": true,
            "type": "integer",
            "format": "int32"
        }
    },
    "tags": [
        {
            "name": "Tutorial Tag One",
            "description": "**Tutorial** tag one description",
            "externalDocs": {
                "description": "External **documentation** link",
                "url": "https://raw.githubusercontent.com/byu-oit-appdev/cars-tutorial/master/README.md"
            }
        },
        {
            "name": "Tutorial Tag Two",
            "description": "**Tutorial** tag two description"
        }
    ],
    "externalDocs": {
        "description": "External **documentation** link",
        "url": "https://raw.githubusercontent.com/byu-oit-appdev/cars-tutorial/master/README.md"
    },
    "paths": {
        "/": {
            "get": {
                "summary": "Cars summary to be less than 120 characters",
                "description": "Retrieves a _collection_ of **Cars**",
                "externalDocs": {
                    "description": "External **documentation** link",
                    "url": "https://raw.githubusercontent.com/byu-oit-appdev/cars-tutorial/master/README.md"
                },
                "operationId": "getCars",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/alwaysUsedParameter"
                    },
                    {
                        "name": "plate_state",
                        "in": "query",
                        "description": "License Plate State",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "plate_number",
                        "in": "query",
                        "description": "License Plate Number",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "vehicle_type",
                        "in": "query",
                        "description": "Type of Vehicle",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "vehicle_year",
                        "in": "query",
                        "description": "Model Year of the Vehicle",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "make",
                        "in": "query",
                        "description": "Make of the Vehicle",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "query",
                        "description": "Model of the Vehicle",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "color",
                        "in": "query",
                        "description": "Color of the Vehicle",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "owner_id",
                        "in": "query",
                        "description": "The ID of the owner of the vehicle",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "Specifies how far to skip into a large set",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 1
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Specifies how many items to return from a large set",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 50
                    },
                    {
                        "name": "field_sets",
                        "in": "query",
                        "description": "Field Sets Available",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contexts",
                        "in": "query",
                        "description": "Group of Field Sets",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "insurance_policies.insurer",
                        "in": "query",
                        "description": "Insurance Agency of Insurance Policy",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Cars"
                ],
                "responses": {
                    "200": {
                        "description": "Collection **Retrieved**",
                        "schema": {
                            "$ref": "#/definitions/cars"
                        },
                        "headers": {
                            "Custom-Header": {
                                "description": "A short description",
                                "type": "string"
                            }
                        },
                        "examples": {
                            "application/json": {
                                "links": {
                                    "cars__info": {
                                        "rel": "self",
                                        "href": "https://api.byu.edu/domains/tutorials/cars",
                                        "method": "GET",
                                        "title": "cars__getCars"
                                    },
                                    "cars__create": {
                                        "rel": "cars__create",
                                        "href": "https://api.byu.edu/domains/tutorials/cars",
                                        "method": "POST",
                                        "title": "cars__createCar"
                                    }
                                },
                                "metadata": {
                                    "collection_size": 3,
                                    "page_start": 1,
                                    "page_end": 3,
                                    "page_size": 50,
                                    "default_page_size": 50,
                                    "max_page_size": 1000,
                                    "field_sets_returned": [
                                        "basic",
                                        "odometer_log",
                                        "trips",
                                        "insurance",
                                        "maintenance_log"
                                    ],
                                    "field_sets_available": [
                                        "basic",
                                        "odometer_log",
                                        "trips",
                                        "insurance",
                                        "maintenance_log"
                                    ],
                                    "default_field_sets": [
                                        "basic"
                                    ],
                                    "contexts_available": {
                                        "mileage": [
                                            "basic",
                                            "odometer_log",
                                            "trips"
                                        ]
                                    }
                                },
                                "values": [
                                    {
                                        "basic": {
                                            "links": {
                                                "cars__info": {
                                                    "rel": "self",
                                                    "href": "https://api.byu.edu/domains/tutorials/cars/1FTBE14A4NP05962",
                                                    "method": "GET",
                                                    "title": "cars__getCar"
                                                },
                                                "cars__modify": {
                                                    "rel": "cars__modify",
                                                    "href": "https://api.byu.edu/domains/tutorials/cars/1FTBE14A4NP05962",
                                                    "method": "PUT",
                                                    "title": "cars__modifyCar"
                                                },
                                                "cars__sell": {
                                                    "rel": "cars__sell",
                                                    "href": "https://api.byu.edu/domains/tutorials/cars/1FTBE14A4NP05962/salereceipts",
                                                    "method": "POST",
                                                    "title": "cars__sellCar"
                                                },
                                                "cars__delete": {
                                                    "rel": "cars__delete",
                                                    "href": "https://api.byu.edu/domains/tutorials/cars/1FTBE14A4NP05962",
                                                    "method": "DELETE",
                                                    "title": "cars__deleteCar"
                                                },
                                                "owners__info": {
                                                    "rel": "owners__info",
                                                    "href": "https://api.byu.edu/domains/tutorials/owners/783783783",
                                                    "method": "GET",
                                                    "title": "owners__getOwner"
                                                }
                                            },
                                            "vin": {
                                                "value": "1FTBE14A4NP05962",
                                                "api_type": "modifiable",
                                                "key": true
                                            },
                                            "plate_state": {
                                                "value": "UT",
                                                "api_type": "modifiable",
                                                "description": "Utah",
                                                "display_label": "Licence Plate State",
                                                "domain": "https://api.byu.edu/domains/tutorials/meta/plate_state"
                                            },
                                            "plate_number": {
                                                "value": "Q580RT",
                                                "api_type": "modifiable",
                                                "display_label": "Licence Plate Number"
                                            },
                                            "vehicle_type": {
                                                "value": "Truck/SUV",
                                                "api_type": "derived",
                                                "display_label": "Vehicle Type",
                                                "domain": "https://api.byu.edu/domains/tutorials/meta/cars/vehicle-type"
                                            },
                                            "vehicle_year": {
                                                "value": "2013",
                                                "api_type": "modifiable",
                                                "display_label": "Vehicle Year"
                                            },
                                            "make": {
                                                "value": "Toyota",
                                                "api_type": "modifiable",
                                                "display_label": "Make",
                                                "domain": "https://api.byu.edu/domains/tutorials/meta/cars/make"
                                            },
                                            "model": {
                                                "value": "RAV4",
                                                "api_type": "modifiable",
                                                "display_label": "Model",
                                                "domain": "https://api.byu.edu/domains/tutorials/meta/cars/model/Toyota"
                                            },
                                            "color": {
                                                "value": "Dark Green",
                                                "api_type": "modifiable",
                                                "display_label": "Color",
                                                "domain": "https://api.byu.edu/domains/tutorials/meta/cars/color"
                                            },
                                            "owner_id": {
                                                "value": "783783783",
                                                "api_type": "modifiable"
                                            },
                                            "owner_name": {
                                                "value": "Daisy Duck",
                                                "api_type": "related",
                                                "related_resource": "tutorial5-owners"
                                            },
                                            "created_by_id": {
                                                "value": "586586586",
                                                "api_type": "system",
                                                "description": "Daffy Duck"
                                            },
                                            "created_date_time": {
                                                "value": "2014-05-11T13:45:53.09Z",
                                                "api_type": "system"
                                            },
                                            "updated_by_id": {
                                                "value": "783783783",
                                                "api_type": "system",
                                                "description": "Daisy Duck"
                                            },
                                            "updated_date_time": {
                                                "value": "2014-09-15T08:12:44.03Z",
                                                "api_type": "system"
                                            }
                                        },
                                        "odometer_logs": [
                                            {
                                                "vin": {
                                                    "value": "1FTBE14A4NP05962",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "read_date": {
                                                    "value": "2014-05-11",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "miles": {
                                                    "value": 32459,
                                                    "api_type": "modifiable",
                                                    "display_label": "something"
                                                },
                                                "read_by_id": {
                                                    "value": "586586586",
                                                    "api_type": "modifiable",
                                                    "display_label": "something"
                                                },
                                                "read_by_name": {
                                                    "value": "Daffy Duck",
                                                    "api_type": "related",
                                                    "display_label": "something"
                                                }
                                            },
                                            {
                                                "vin": {
                                                    "value": "1FTBE14A4NP05962",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "read_date": {
                                                    "value": "2014-06-08",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "miles": {
                                                    "value": 33782,
                                                    "api_type": "modifiable",
                                                    "display_label": "something"
                                                },
                                                "read_by_id": {
                                                    "value": "586586586",
                                                    "api_type": "modifiable",
                                                    "display_label": "something"
                                                },
                                                "read_by_name": {
                                                    "value": "Daffy Duck",
                                                    "api_type": "related",
                                                    "display_label": "something"
                                                }
                                            },
                                            {
                                                "vin": {
                                                    "value": "1FTBE14A4NP05962",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "read_date": {
                                                    "value": "2014-07-12",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "miles": {
                                                    "value": 35121,
                                                    "api_type": "modifiable",
                                                    "display_label": "something"
                                                },
                                                "read_by_id": {
                                                    "value": "783783783",
                                                    "api_type": "modifiable",
                                                    "display_label": "something"
                                                },
                                                "read_by_name": {
                                                    "value": "Daisy Duck",
                                                    "api_type": "related",
                                                    "display_label": "something"
                                                }
                                            }
                                        ],
                                        "trips": [
                                            {
                                                "vin": {
                                                    "value": "1FTBE14A4NP05962",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "trip_id": {
                                                    "value": "A148",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "destination": {
                                                    "value": "Seattle, Washington",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Destination"
                                                },
                                                "start_date": {
                                                    "value": "2012-08-10",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Start Date"
                                                },
                                                "end_date": {
                                                    "value": "2012-08-16",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip End Date"
                                                },
                                                "start_miles": {
                                                    "value": 10745,
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Beginning Mileage"
                                                },
                                                "end_miles": {
                                                    "value": 14826,
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Ending Mileage"
                                                }
                                            },
                                            {
                                                "vin": {
                                                    "value": "1FTBE14A4NP05962",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "trip_id": {
                                                    "value": "C233",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "destination": {
                                                    "value": "Denver, Colorado",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Destination"
                                                },
                                                "start_date": {
                                                    "value": "2013-02-04",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Start Date"
                                                },
                                                "end_date": {
                                                    "value": "2013-02-09",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip End Date"
                                                },
                                                "start_miles": {
                                                    "value": 17386,
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Beginning Mileage"
                                                },
                                                "end_miles": {
                                                    "value": 18144,
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Ending Mileage"
                                                }
                                            },
                                            {
                                                "vin": {
                                                    "value": "1FTBE14A4NP05962",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "trip_id": {
                                                    "value": "A432",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "destination": {
                                                    "value": "San Francisco, California",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Destination"
                                                },
                                                "start_date": {
                                                    "value": "2013-06-22",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Start Date"
                                                },
                                                "end_date": {
                                                    "value": "2013-06-26",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip End Date"
                                                },
                                                "start_miles": {
                                                    "value": 22354,
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Beginning Mileage"
                                                },
                                                "end_miles": {
                                                    "value": 24193,
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Ending Mileage"
                                                }
                                            }
                                        ],
                                        "insurance": {
                                            "vin": {
                                                "value": "1FTBE14A4NP05962",
                                                "api_type": "modifiable",
                                                "key": true
                                            },
                                            "policy_id": {
                                                "value": "A842B53E41",
                                                "api_type": "modifiable"
                                            },
                                            "insurer": {
                                                "value": "GEICO",
                                                "api_type": "modifiable",
                                                "display_label": "Insurance Agency"
                                            }
                                        },
                                        "maintenance_logs": [
                                            {
                                                "vin": {
                                                    "value": "1FTBE14A4NP05962",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "maintenance_id": {
                                                    "value": "000354",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "maintenance_date": {
                                                    "value": "2013-06-01",
                                                    "api_type": "modifiable",
                                                    "display_label": "Maintenance Date"
                                                },
                                                "description": {
                                                    "value": "Tune-up",
                                                    "api_type": "modifable",
                                                    "display_label": "Maintenance Description"
                                                },
                                                "cost": {
                                                    "value": "283.45",
                                                    "api_type": "modifiable",
                                                    "display_label": "Maintenance Cost"
                                                }
                                            },
                                            {
                                                "vin": {
                                                    "value": "1FTBE14A4NP05962",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "maintenance_id": {
                                                    "value": "000418",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "maintenance_date": {
                                                    "value": "2013-11-01",
                                                    "api_type": "modifiable",
                                                    "display_label": "Maintenance Date"
                                                },
                                                "description": {
                                                    "value": "Oil & Lube",
                                                    "api_type": "modifable",
                                                    "display_label": "Maintenance Description"
                                                },
                                                "cost": {
                                                    "value": "152.83",
                                                    "api_type": "modifiable",
                                                    "display_label": "Maintenance Cost"
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "basic": {
                                            "links": {
                                                "cars__info": {
                                                    "rel": "self",
                                                    "href": "https://api.byu.edu/domains/tutorials/cars/1DTGR14A6NP38861",
                                                    "method": "GET",
                                                    "title": "cars__getCar"
                                                },
                                                "cars__modify": {
                                                    "rel": "cars__modify",
                                                    "href": "https://api.byu.edu/domains/tutorials/cars/1DTGR14A6NP38861",
                                                    "method": "PUT",
                                                    "title": "cars__modifyCar"
                                                },
                                                "cars__sell": {
                                                    "rel": "cars__sell",
                                                    "href": "https://api.byu.edu/domains/tutorials/cars/1DTGR14A6NP38861/salereceipts",
                                                    "method": "POST",
                                                    "title": "cars__sellCar"
                                                },
                                                "cars__delete": {
                                                    "rel": "cars__delete",
                                                    "href": "https://api.byu.edu/domains/tutorials/cars/1DTGR14A6NP38861",
                                                    "method": "DELETE",
                                                    "title": "cars__deleteCar"
                                                },
                                                "owners__info": {
                                                    "rel": "owners__info",
                                                    "href": "https://api.byu.edu/domains/tutorials/owners/586586586",
                                                    "method": "GET",
                                                    "title": "cars__getOwner"
                                                }
                                            },
                                            "vin": {
                                                "value": "1DTGR14A6NP38861",
                                                "api_type": "modifiable",
                                                "key": true
                                            },
                                            "plate_state": {
                                                "value": "UT",
                                                "api_type": "modifiable",
                                                "description": "Utah",
                                                "display_label": "Licence Plate State",
                                                "domain": "https://api.byu.edu/domains/tutorials/meta/cars/plate-state"
                                            },
                                            "plate_number": {
                                                "value": "C49D3T",
                                                "api_type": "modifiable",
                                                "display_label": "Licence Plate Number"
                                            },
                                            "vehicle_type": {
                                                "value": "Truck/SUV",
                                                "api_type": "derived",
                                                "display_label": "Vehicle Type",
                                                "domain": "https://api.byu.edu/domains/tutorials/meta/cars/vehicle-type"
                                            },
                                            "vehicle_year": {
                                                "value": "1997",
                                                "api_type": "modifiable",
                                                "display_label": "Vehicle Year"
                                            },
                                            "make": {
                                                "value": "Ford",
                                                "api_type": "modifiable",
                                                "display_label": "Make",
                                                "domain": "https://api.byu.edu/domains/tutorials/meta/cars/make"
                                            },
                                            "model": {
                                                "value": "Ranger",
                                                "api_type": "modifiable",
                                                "display_label": "Model",
                                                "domain": "https://api.byu.edu/domains/tutorials/meta/cars/model/Toyota"
                                            },
                                            "color": {
                                                "value": "Blue",
                                                "api_type": "modifiable",
                                                "display_label": "Color",
                                                "domain": "https://api.byu.edu/domains/tutorials/meta/cars/color"
                                            },
                                            "owner_id": {
                                                "value": "586586586",
                                                "api_type": "modifiable"
                                            },
                                            "owner_name": {
                                                "value": "Daffy Duck",
                                                "api_type": "related",
                                                "related_resource": "tutorial5-owners"
                                            },
                                            "created_by_id": {
                                                "value": "586586586",
                                                "api_type": "system",
                                                "description": "Daffy Duck"
                                            },
                                            "created_date_time": {
                                                "value": "2014-05-11T13:45:53.09Z",
                                                "api_type": "system"
                                            },
                                            "updated_by_id": {
                                                "value": "783783783",
                                                "api_type": "system",
                                                "description": "Daisy Duck"
                                            },
                                            "updated_date_time": {
                                                "value": "2014-09-15T08:12:44.03Z",
                                                "api_type": "system"
                                            }
                                        },
                                        "odometer_logs": [
                                            {
                                                "vin": {
                                                    "value": "1DTGR14A6NP38861",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "read_date": {
                                                    "value": "2014-05-09",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "miles": {
                                                    "value": 26438,
                                                    "api_type": "modifiable",
                                                    "display_label": "something"
                                                },
                                                "read_by_id": {
                                                    "value": "586586586",
                                                    "api_type": "modifiable",
                                                    "display_label": "something"
                                                },
                                                "read_by_name": {
                                                    "value": "Daffy Duck",
                                                    "api_type": "related",
                                                    "display_label": "something"
                                                }
                                            },
                                            {
                                                "vin": {
                                                    "value": "1DTGR14A6NP38861",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "read_date": {
                                                    "value": "2014-06-11",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "miles": {
                                                    "value": 29521,
                                                    "api_type": "modifiable",
                                                    "display_label": "something"
                                                },
                                                "read_by_id": {
                                                    "value": "586586586",
                                                    "api_type": "modifiable",
                                                    "display_label": "something"
                                                },
                                                "read_by_name": {
                                                    "value": "Daffy Duck",
                                                    "api_type": "related",
                                                    "display_label": "something"
                                                }
                                            },
                                            {
                                                "vin": {
                                                    "value": "1DTGR14A6NP38861",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "read_date": {
                                                    "value": "2014-07-15",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "miles": {
                                                    "value": 30114,
                                                    "api_type": "modifiable",
                                                    "display_label": "something"
                                                },
                                                "read_by_id": {
                                                    "value": "783783783",
                                                    "api_type": "modifiable",
                                                    "display_label": "something"
                                                },
                                                "read_by_name": {
                                                    "value": "Daisy Duck",
                                                    "api_type": "related",
                                                    "display_label": "something"
                                                }
                                            }
                                        ],
                                        "trips": [
                                            {
                                                "vin": {
                                                    "value": "1DTGR14A6NP38861",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "trip_id": {
                                                    "value": "A326",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "destination": {
                                                    "value": "Butte, Montana",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Destination"
                                                },
                                                "start_date": {
                                                    "value": "2012-09-06",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Start Date"
                                                },
                                                "end_date": {
                                                    "value": "2012-09-10",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip End Date"
                                                },
                                                "start_miles": {
                                                    "value": 8265,
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Beginning Mileage"
                                                },
                                                "end_miles": {
                                                    "value": 9854,
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Ending Mileage"
                                                }
                                            },
                                            {
                                                "vin": {
                                                    "value": "1DTGR14A6NP38861",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "trip_id": {
                                                    "value": "D551",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "destination": {
                                                    "value": "St. Louis, Missouri",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Destination"
                                                },
                                                "start_date": {
                                                    "value": "2013-01-02",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Start Date"
                                                },
                                                "end_date": {
                                                    "value": "2013-01-12",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip End Date"
                                                },
                                                "start_miles": {
                                                    "value": 11843,
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Beginning Mileage"
                                                },
                                                "end_miles": {
                                                    "value": 15365,
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Ending Mileage"
                                                }
                                            },
                                            {
                                                "vin": {
                                                    "value": "1DTGR14A6NP38861",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "trip_id": {
                                                    "value": "A776",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "destination": {
                                                    "value": "os Angeles, California",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Destination"
                                                },
                                                "start_date": {
                                                    "value": "2013-04-01",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Start Date"
                                                },
                                                "end_date": {
                                                    "value": "2013-04-06",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip End Date"
                                                },
                                                "start_miles": {
                                                    "value": 17221,
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Beginning Mileage"
                                                },
                                                "end_miles": {
                                                    "value": 19632,
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Ending Mileage"
                                                }
                                            }
                                        ],
                                        "insurance": {
                                            "vin": {
                                                "value": "1DTGR14A6NP38861",
                                                "api_type": "modifiable",
                                                "key": true
                                            },
                                            "policy_id": {
                                                "value": "421T84GX333",
                                                "api_type": "modifiable"
                                            },
                                            "insurer": {
                                                "value": "State Farm",
                                                "api_type": "modifiable",
                                                "display_label": "Insurance Agency"
                                            }
                                        },
                                        "maintenance_logs": [
                                            {
                                                "vin": {
                                                    "value": "1DTGR14A6NP38861",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "maintenance_id": {
                                                    "value": "000401",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "maintenance_date": {
                                                    "value": "2013-08-01",
                                                    "api_type": "modifiable",
                                                    "display_label": "Maintenance Date"
                                                },
                                                "description": {
                                                    "value": "New Tires",
                                                    "api_type": "modifable",
                                                    "display_label": "Maintenance Description"
                                                },
                                                "cost": {
                                                    "value": "533.12",
                                                    "api_type": "modifiable",
                                                    "display_label": "Maintenance Cost"
                                                }
                                            },
                                            {
                                                "vin": {
                                                    "value": "1DTGR14A6NP38861",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "maintenance_id": {
                                                    "value": "000663",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "maintenance_date": {
                                                    "value": "2014-02-01",
                                                    "api_type": "modifiable",
                                                    "display_label": "Maintenance Date"
                                                },
                                                "description": {
                                                    "value": "Replace Alternator",
                                                    "api_type": "modifable",
                                                    "display_label": "Maintenance Description"
                                                },
                                                "cost": {
                                                    "value": "486.23",
                                                    "api_type": "modifiable",
                                                    "display_label": "Maintenance Cost"
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "basic": {
                                            "links": {
                                                "cars__info": {
                                                    "rel": "self",
                                                    "href": "https://api.byu.edu/domains/tutorials/cars/1CRTW25A3NX78232",
                                                    "method": "GET",
                                                    "title": "cars__getCar"
                                                },
                                                "cars__modify": {
                                                    "rel": "cars__modify",
                                                    "href": "https://api.byu.edu/domains/tutorials/cars/1CRTW25A3NX78232",
                                                    "method": "PUT",
                                                    "title": "cars__modifyCar"
                                                },
                                                "cars__sell": {
                                                    "rel": "cars__sell",
                                                    "href": "https://api.byu.edu/domains/tutorials/cars/1CRTW25A3NX78232/salereceipts",
                                                    "method": "POST",
                                                    "title": "cars__sellCar"
                                                },
                                                "cars__delete": {
                                                    "rel": "cars__delete",
                                                    "href": "https://api.byu.edu/domains/tutorials/cars/1CRTW25A3NX78232",
                                                    "method": "DELETE",
                                                    "title": "cars__deleteCar"
                                                },
                                                "owners__info": {
                                                    "rel": "owners__info",
                                                    "href": "https://api.byu.edu/domains/tutorials/owners/586586586",
                                                    "method": "GET",
                                                    "title": "owners__getOwner"
                                                }
                                            },
                                            "vin": {
                                                "value": "1CRTW25A3NX78232",
                                                "api_type": "modifiable",
                                                "key": true
                                            },
                                            "plate_state": {
                                                "value": "UT",
                                                "api_type": "modifiable",
                                                "description": "Utah",
                                                "display_label": "Licence Plate State",
                                                "domain": "https://api.byu.edu/domains/tutorials/meta/cars/plate-state"
                                            },
                                            "plate_number": {
                                                "value": "L43S3T",
                                                "api_type": "modifiable",
                                                "display_label": "Licence Plate Number"
                                            },
                                            "vehicle_type": {
                                                "value": "Truck/SUV",
                                                "api_type": "derived",
                                                "display_label": "Vehicle Type",
                                                "domain": "https://api.byu.edu/domains/tutorials/meta/cars/vehicle-type"
                                            },
                                            "vehicle_year": {
                                                "value": "2003",
                                                "api_type": "modifiable",
                                                "display_label": "Vehicle Year"
                                            },
                                            "make": {
                                                "value": "Chevrolet",
                                                "api_type": "modifiable",
                                                "display_label": "Make",
                                                "domain": "https://api.byu.edu/domains/tutorials/meta/cars/make"
                                            },
                                            "model": {
                                                "value": "Sierra",
                                                "api_type": "modifiable",
                                                "display_label": "Model",
                                                "domain": "https://api.byu.edu/domains/tutorials/meta/cars/model/Toyota"
                                            },
                                            "color": {
                                                "value": "Tan",
                                                "api_type": "modifiable",
                                                "display_label": "Color",
                                                "domain": "https://api.byu.edu/domains/tutorials/meta/cars/color"
                                            },
                                            "owner_id": {
                                                "value": "586586586",
                                                "api_type": "modifiable"
                                            },
                                            "owner_name": {
                                                "value": "Daffy Duck",
                                                "api_type": "related",
                                                "related_resource": "tutorial5-owners"
                                            },
                                            "created_by_id": {
                                                "value": "586586586",
                                                "api_type": "system",
                                                "description": "Daffy Duck"
                                            },
                                            "created_date_time": {
                                                "value": "2014-05-11T13:45:53.09Z",
                                                "api_type": "system"
                                            },
                                            "updated_by_id": {
                                                "value": "783783783",
                                                "api_type": "system",
                                                "description": "Daisy Duck"
                                            },
                                            "updated_date_time": {
                                                "value": "2014-09-15T08:12:44.03Z",
                                                "api_type": "system"
                                            }
                                        },
                                        "odometer_logs": [
                                            {
                                                "vin": {
                                                    "value": "1CRTW25A3NX78232",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "read_date": {
                                                    "value": "2014-05-03",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "miles": {
                                                    "value": 85919,
                                                    "api_type": "modifiable",
                                                    "display_label": "something"
                                                },
                                                "read_by_id": {
                                                    "value": "586586586",
                                                    "api_type": "modifiable",
                                                    "display_label": "something"
                                                },
                                                "read_by_name": {
                                                    "value": "Daffy Duck",
                                                    "api_type": "related",
                                                    "display_label": "something"
                                                }
                                            },
                                            {
                                                "vin": {
                                                    "value": "1CRTW25A3NX78232",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "read_date": {
                                                    "value": "2014-06-22",
                                                    "api_type": "modifiable",
                                                    "key": true,
                                                    "display_label": "something"
                                                },
                                                "miles": {
                                                    "value": 90652,
                                                    "api_type": "modifiable",
                                                    "display_label": "something"
                                                },
                                                "read_by_id": {
                                                    "values": "586586586",
                                                    "api_type": "modifiable",
                                                    "display_label": "something"
                                                },
                                                "read_by_name": {
                                                    "value": "Daffy Duck",
                                                    "api_type": "related",
                                                    "display_label": "something"
                                                }
                                            },
                                            {
                                                "vin": {
                                                    "value": "1CRTW25A3NX78232",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "read_date": {
                                                    "value": "2014-07-21",
                                                    "api_type": "modifiable",
                                                    "key": true,
                                                    "display_label": "something"
                                                },
                                                "miles": {
                                                    "value": 94126,
                                                    "api_type": "modifiable",
                                                    "display_label": "something"
                                                },
                                                "read_by_id": {
                                                    "value": "783783783",
                                                    "api_type": "modifiable",
                                                    "display_label": "something"
                                                },
                                                "read_by_name": {
                                                    "value": "Daisy Duck",
                                                    "api_type": "related",
                                                    "display_label": "something"
                                                }
                                            }
                                        ],
                                        "trips": [
                                            {
                                                "vin": {
                                                    "value": "1CRTW25A3NX78232",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "trip_id": {
                                                    "value": "B111",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "destination": {
                                                    "value": "Pocatello, Idaho",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Destination"
                                                },
                                                "start_date": {
                                                    "value": "2011-04-01",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Start Date"
                                                },
                                                "end_date": {
                                                    "value": "2011-04-10",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip End Date"
                                                },
                                                "start_miles": {
                                                    "value": 18542,
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Beginning Mileage"
                                                },
                                                "end_miles": {
                                                    "value": 19296,
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Ending Mileage"
                                                }
                                            },
                                            {
                                                "vin": {
                                                    "value": "1CRTW25A3NX78232",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "trip_id": {
                                                    "value": "E028",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "destination": {
                                                    "value": "Ely, Nevada",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Destination"
                                                },
                                                "start_date": {
                                                    "value": "2013-04-01",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Start Date"
                                                },
                                                "end_date": {
                                                    "value": "2013-04-10",
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip End Date"
                                                },
                                                "start_miles": {
                                                    "value": 60181,
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Beginning Mileage"
                                                },
                                                "end_miles": {
                                                    "value": 60946,
                                                    "api_type": "modifiable",
                                                    "display_label": "Trip Ending Mileage"
                                                }
                                            }
                                        ],
                                        "insurance": {
                                            "vin": {
                                                "value": "1CRTW25A3NX78232",
                                                "api_type": "modifiable",
                                                "key": true
                                            },
                                            "policy_id": {
                                                "value": "Y583958CV43",
                                                "api_type": "modifiable"
                                            },
                                            "insurer": {
                                                "value": "All State",
                                                "api_type": "modifiable",
                                                "display_label": "Insurance Agency"
                                            }
                                        },
                                        "maintenance_logs": [
                                            {
                                                "vin": {
                                                    "value": "1CRTW25A3NX78232",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "maintenance_id": {
                                                    "value": "000710",
                                                    "api_type": "modifiable",
                                                    "key": true
                                                },
                                                "maintenance_date": {
                                                    "value": "2013-10-31",
                                                    "api_type": "modifiable",
                                                    "display_label": "Maintenance Date"
                                                },
                                                "description": {
                                                    "value": "New Transmission",
                                                    "api_type": "modifable",
                                                    "display_label": "Maintenance Description"
                                                },
                                                "cost": {
                                                    "value": "2436.11",
                                                    "api_type": "modifiable",
                                                    "display_label": "Maintenance Cost"
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "401": {
                        "description": "Authentication required to access data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "403": {
                        "description": "Access denied to protected data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "404": {
                        "description": "No Cars satisfy the query parameters - the collection is empty",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "409": {
                        "description": "Query parameters conflict or are malformed",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    }
                }
            },
            "post": {
                "summary": "Cars",
                "description": "Create a new Car",
                "operationId": "createCar",
                "parameters": [
                    {
                        "name": "car",
                        "in": "body",
                        "description": "The Car to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/car"
                        }
                    }
                ],
                "tags": [
                    "Cars"
                ],
                "responses": {
                    "201": {
                        "description": "Car Added",
                        "schema": {
                            "$ref": "#/definitions/car"
                        }
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "401": {
                        "description": "Authentication required to access data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "403": {
                        "description": "Access denied to protected data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "409": {
                        "description": "Request Body conflicts or is malformed",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    }
                }
            },
            "options": {
                "summary": "Cars",
                "description": "What can this endpoint do?",
                "tags": [
                    "Cars"
                ],
                "responses": {
                    "200": {
                        "description": "Supported HTTP Methods",
                        "schema": {
                            "$ref": "#/definitions/methods"
                        }
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    }
                }
            }
        },
        "/{vin}": {
            "get": {
                "summary": "Cars",
                "description": "Retrieves a specific Car",
                "operationId": "getCar",
                "parameters": [
                    {
                        "name": "vin",
                        "in": "path",
                        "description": "Vehicle Identification Number",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "field_sets",
                        "in": "query",
                        "description": "Field Sets Available",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contexts",
                        "in": "query",
                        "description": "Group of Field Sets",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Cars"
                ],
                "responses": {
                    "200": {
                        "description": "Item Retrieved",
                        "schema": {
                            "$ref": "#/definitions/car"
                        }
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "401": {
                        "description": "Authentication required to access data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "403": {
                        "description": "Access denied to protected data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "404": {
                        "description": "No Cars satisfy the request - the collection is empty",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    }
                }
            },
            "put": {
                "summary": "Cars",
                "description": "Modify a specific Car",
                "operationId": "modifyCar",
                "parameters": [
                    {
                        "name": "vin",
                        "in": "path",
                        "description": "Vehicle Identification Number",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "car",
                        "in": "body",
                        "description": "The Car to be modified",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/car"
                        }
                    }
                ],
                "tags": [
                    "Cars"
                ],
                "responses": {
                    "200": {
                        "description": "Car Modified",
                        "schema": {
                            "$ref": "#/definitions/car"
                        }
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "401": {
                        "description": "Authentication required to access data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "403": {
                        "description": "Access denied to protected data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "409": {
                        "description": "Request Body conflicts or is malformed",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Cars",
                "description": "Delete a specific Car",
                "operationId": "deleteCar",
                "parameters": [
                    {
                        "name": "vin",
                        "in": "path",
                        "description": "Vehicle Identification Number",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Cars"
                ],
                "responses": {
                    "204": {
                        "description": "Car successfully removed"
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "401": {
                        "description": "Authentication required to access data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "403": {
                        "description": "Access denied to protected data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    }
                }
            },
            "options": {
                "summary": "Cars",
                "description": "What can this endpoint do?",
                "operationId": "carOptions",
                "parameters": [
                    {
                        "name": "vin",
                        "in": "path",
                        "description": "Vehicle Identification Number",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Cars"
                ],
                "responses": {
                    "200": {
                        "description": "Supported HTTP Methods",
                        "schema": {
                            "$ref": "#/definitions/methods"
                        }
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    }
                }
            }
        },
        "/{vin}/odometer_logs": {
            "get": {
                "summary": "Cars",
                "description": "Retrieves a collection of Odometer Logs for a specific Car",
                "operationId": "getOdometerLogs",
                "parameters": [
                    {
                        "name": "vin",
                        "in": "path",
                        "description": "Vehicle Identification Number",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "read_date",
                        "in": "query",
                        "description": "When the odometer log was created",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "miles",
                        "in": "query",
                        "description": "Mileage read on odometer",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Cars"
                ],
                "responses": {
                    "200": {
                        "description": "Collection Retrieved",
                        "schema": {
                            "$ref": "#/definitions/odometerlogs"
                        }
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "401": {
                        "description": "Authentication required to access data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "403": {
                        "description": "Access denied to protected data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "404": {
                        "description": "No Odometer Logs satisfy the query parameters - the collection is empty",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "409": {
                        "description": "Query parameters conflict or are malformed",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    }
                }
            },
            "put": {
                "summary": "Cars",
                "description": "Creates a new Odometer Log",
                "operationId": "createOdometerLog",
                "parameters": [
                    {
                        "name": "vin",
                        "in": "path",
                        "description": "Vehicle Identification Number",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "odometer_log",
                        "in": "body",
                        "description": "The Odometer Log to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/odometerlog"
                        }
                    }
                ],
                "tags": [
                    "Cars"
                ],
                "responses": {
                    "200": {
                        "description": "Odometer Log Added",
                        "schema": {
                            "$ref": "#/definitions/odometerlog"
                        }
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "401": {
                        "description": "Authentication required to access data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "403": {
                        "description": "Access denied to protected data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "409": {
                        "description": "Request Body conflicts or is malformed",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    }
                }
            },
            "options": {
                "summary": "Cars",
                "description": "What can this endpoint do?",
                "operationId": "OdometerLogsOptions",
                "parameters": [
                    {
                        "name": "vin",
                        "in": "path",
                        "description": "Vehicle Identification Number",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Cars"
                ],
                "responses": {
                    "200": {
                        "description": "Supported HTTP Methods",
                        "schema": {
                            "$ref": "#/definitions/methods"
                        }
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    }
                }
            }
        },
        "/{vin}/odometer_logs/{read_date}": {
            "get": {
                "summary": "Cars",
                "description": "Retrieves a specific Odometer Log",
                "operationId": "getOdometerLog",
                "parameters": [
                    {
                        "name": "vin",
                        "in": "path",
                        "description": "Vehicle Identification Number",
                        "required": true,
[...]
